#!/bin/sh
#
# PROVIDE: hcloud
# REQUIRE: NETWORKING
# BEFORE: DAEMON
# KEYWORD: firstboot

# This rc script enables Hetzner Cloud auto-configuration 
# at firstboot (https://github.com/paulc/hcloud-freebsd)

. /etc/rc.subr

name="hcloud"
desc="Auto-configure Hetzner Cloud instances"
start_cmd="hcloud_start"
stop_cmd=":"
rcvar="hcloud_enable"

hcloud_start() {
    echo "Staring Hetzner cloud-config: "
    # Ensure that we clear SSHD host keys
    rm -f /etc/ssh/ssh_host_*_key /etc/ssh/ssh_host_*_key.pub
    # Ensure /var/hcloud directory is clear
    rm -rf /var/hcloud
    mkdir -m 700 /var/hcloud
    # Change directory to /var/hcloud
    cd /var/hcloud
    # Run cloud-config
    /usr/local/bin/hcloud 2>&1 | tee hcloud.$(date +%Y%m%d-%H%M%S).log
    echo "cloud-config done"
}

load_rc_config $name
run_rc_command "$1"
